.bg {
  padding: 12px 32px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 100%;
  height: 1024px;
  background-image: url(/src/images/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  .mind,
  .portal,
  .span {
    font-size: 48px;
    font-family: var(--font-inter);
  }
  .portal,
  .span {
    font-size: 18px;
    font-weight: 600;
  }
  .portal {
    font-size: 32px;
    font-weight: 500;
  }
  .mindPortal {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.05em;
    color: #d9d9d9;
    text-align: left;
  }
  .username,
  .password {
    background-color: transparent;
    align-self: stretch;
    font-family: var(--font-m-plus-2);
    font-size: 18px;
    color: #000000;
    border-radius: 2px;
  }
  .usernamePasswordParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 36px 0;
  }
  .loginText {
    align-self: stretch;
    background-color: #1890ff;
  }
  .alreadyHaveAccount {
    color: #fff;
  }
  .loginHere {
    color: #1890ff;
  }
  .alreadyHaveAccountContainer {
    position: relative;
    font-size: 12px;
    font-family: var(--font-segoe-ui);
    text-align: left;
  }
  .loginTextParent,
  .mindPortalParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .loginTextParent {
    align-self: stretch;
    gap: 24px 0;
  }
  .mindPortalParent {
    margin: 0;
    width: 652px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.12);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(0, 0, 0, 0.4);;
    box-sizing: border-box;
    padding: 24px 23px;
    gap: 86px 0;
    max-width: 100%;
  }
  @media screen and (max-width: 650px) {
    .mindPortalParent {
      gap: 86px 0;
    }
  }
  @media screen and (max-width: 625px) {
    .usernamePasswordParent {
      gap: 36px 0;
    }
    .mindPortalParent {
      padding-top: 20px;
      padding-bottom: 20px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .loginText {
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
    }
    .mindPortalParent {
      gap: 86px 0;
    }
  }
}