@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Segoe+UI:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-segoe-ui: "Segoe UI";
  --font-m-plus-2: "M PLUS 2";
  --font-inter: Inter;
}